.container {
  display: grid;
  gap: 1rem;
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 5%;

  .submit {
    display: flex;
    gap: 1rem;
  }
  .success,
  .error,
  .load {
    display: flex;
    align-items: center;
    font-size: clamp(0.75rem, 3vw, 1rem);
    display: none;
    & > * {
      margin: 0 1rem 1rem 0;
    }
  }
  .success {
    color: green;
  }

  .error {
    color: red;
  }
  .response,
  .request {
    display: flex;
    flex-direction: column;
    textarea {
      border-radius: clamp(0.5rem, 0.5vw, 0.75rem);
      outline: none;
      border: 1px solid grey;
      padding: 0.65rem;
    }
  }

  .select-container {
    margin: 1rem 0;
    select {
      padding: 0.75rem;
      border: 1px solid grey;
      border-radius: clamp(0.5rem, 0.3vw, 0.75rem);
      font-size: clamp(0.75rem, 2vw, 1rem);
    }
  }

  label {
    height: fit-content;
    margin: 1rem;
  }

  button {
    margin-right: 1rem;
    border: none;
    padding: 0.5rem 0.75rem;
    font-size: clamp(0.75rem, 3vw, 1rem);
    border-radius: clamp(0.5rem, 0.3vw, 0.75rem);
    font-weight: 700;
    background-color: rgba(0, 129, 201, 1);
    color: whitesmoke;
    width: fit-content;
    height: fit-content;

    &:hover {
      background-color: rgba(0, 129, 201, 0.7);
    }
  }
}

// Loader

.spinner {
  width: 2em;
  height: 2em;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
