.navbar {
  width: 80%;
  margin-left: 10%;
}
@media (max-width: 600px) {
  .navbar {
    width: 100%;
    margin-left: 0;
  }
}
.navbar a {
  width: -moz-fit-content;
  width: fit-content;
}

.primary-nav {
  display: grid;
  grid-template-columns: min-content auto;
}

.primary-nav .logo {
  padding: clamp(35px, 1vmax, 75px);
}
.primary-nav .logo img {
  width: clamp(2rem, 6vw, 3rem);
  height: clamp(2rem, 6vw, 3rem);
}

.navlist-container {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .navlist-container {
    display: none;
  }
}
.navlist-container ul {
  align-self: center;
  justify-self: end;
  display: flex;
  margin-right: 2rem;
}
.navlist-container a {
  padding: 0 clamp(20px, 1rem, 10%);
}
.navlist-container li {
  color: var(--text-color);
}
.navlist-container li:hover {
  color: var(--color-primary);
}

.primary-nav ul li {
  font-weight: 400;
  font-size: clamp(20px, 1.12vw, 55px);
}

.theme {
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}
@media (max-width: 980px) {
  .theme {
    display: flex;
  }
}
.theme img {
  width: clamp(1.9rem, 2vw, 2rem);
  height: clamp(1.9rem, 2vw, 2rem);
  cursor: pointer;
}

.hamburger {
  display: none;
  position: relative;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}
@media (max-width: 980px) {
  .hamburger {
    display: flex;
    width: 40%;
    min-width: 80px;
    max-width: 120px;
    justify-content: space-between;
  }
}
.hamburger img {
  width: clamp(1.9rem, 5vw, 3rem);
  height: clamp(1.9rem, 5vw, 3rem);
  cursor: pointer;
}

.hidden-navbar {
  position: absolute;
  z-index: 3;
  background: linear-gradient(rgba(32, 82, 149, 0.8), rgba(20, 66, 114, 0.8));
  background-color: rgba(32, 82, 149, 0.8);
  color: white;
  top: 150%;
  right: 0;
  border-radius: clamp(0.5rem, 0.4vw, 0.75rem);
}
.hidden-navbar ul {
  padding: clamp(1.5rem, 4vw, 2rem);
}
.hidden-navbar ul li {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: clamp(1.5rem, 5vw, 2rem);
}
.hidden-navbar ul li:hover {
  color: rgb(182, 211, 254);
}